[submodule "libLuna"]
	path = libLuna
	url = https://github.com/romanchom/libLuna.git
[submodule "lunaProto"]
	path = lunaProto
	url = git@github.com:romanchom/lunaProto.git
[submodule "prism"]
	path = prism
	url = git@github.com:romanchom/prism.git
